.hotline-text {
    text-align: left;
}
.nav-link {
    color: #555555;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    transition: color 0.2s;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 8px 0;
    white-space: nowrap;
}

.nav-link:hover,
.nav-link:focus {
    color: #ef4d23;
}

    .nav-link:hover::after,
    .nav-link:focus::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #ef4d23;
        position: absolute;
        left: 0;
        bottom: 0px;
        border-radius: 1px;
    }

.nav-item {
    white-space: nowrap;
    /* Nếu muốn khoảng cách đều nhau: */
    margin: 0 16px;
}

.header-row {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
}

.phone {
    display: flex;
    align-items: center;
    text-align: center;
}

.icon{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: end;
    text-align: end;
    justify-content: end;
}

@media (max-width: 767.98px) {
    .header-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .logo, .phone {
        /* Ẩn cột Bootstrap, dùng flex inline */
        float: none !important;
        width: auto !important;
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        align-items: center;
    }

    .logo {
        justify-content: flex-end;
    }

    .phone {
        justify-content: flex-start;
        margin-left: 12px;
    }

    .content {
        display: none !important; /* Ẩn menu nav trên mobile */
    }

    .hotline-text {
        display: none !important; /* Ẩn chữ Hotline và số điện thoại trên mobile */
    }
}


