html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btnRegister {
    background: linear-gradient(to right, #f37721 0%, #ef4e24 100%);
    color: #fff;
}

    .btnRegister:hover {
        background: #fff;
        color: #ef4e24;
        border: 1px solid #ef4e24;
    }