<footer class="container-fluid border-top">
	<div class="row">
        <div class="logo col-md-4 d-flex">
            <a href="/">
                <img alt="" src="/images/logo.png" style="width: 60%">
            </a>
        </div>

		<div class="content col-md-6">
			<p class="h1">
				<span style="font-size: 15px;"><strong>Ngân hàng TMCP Kiên Long (KienlongBank)</strong></span>
			</p>
			<div class="text">
				<p>Hội sở: 40-42-44 Phạm Hồng Thái, P.Vĩnh Thanh Vân, Tp.Rạch Giá, T.Kiên Giang</p>
				<!--<p>VPĐD miền Nam: 98-108A Cách Mạng Tháng 8, P.Võ Thị Sáu, Q.3, Tp.HCM</p>
				<p>VPĐD miền Bắc: Tầng 6 Sunshine Center, số 16 Phạm Hùng, P.Mỹ Đình, Q.Nam Từ Liêm, Tp.Hà Nội</p>-->
				<p>Điện thoại: (0297) 3869 950 hoặc (028) 3933 3393</p>
				<p>Hotline gọi trong lãnh thổ Việt Nam: 1900 6929</p>
				<p>Hotline gọi từ nước ngoài về Việt Nam: (+84) 287309 6929</p>
				<p>Mã SWIFT: KLBKVNVX</p>
				<p>Email: <a href="#">kienlong@kienlongbank.com </a>hoặc <a href="#">chamsockhachhang@kienlongbank.com</a></p>
			</div>
		</div>
	</div>
</footer>
