<footer class="container border-top">
	<div class="row">
        <div class="logo-footer col-md-3">
			<a href="/" class="d-flex justify-content-end">
                <img alt="" src="/images/logo.png" style="width: 80%">
            </a>
        </div>

		<div class="content-footer col-md-5">
			<p class="h1">
				<span style="font-size: 15px;"><strong>Ngân hàng TMCP Kiên Long (KienlongBank)</strong></span>
			</p>
			<div class="text">
				<p>Hội sở: 40-42-44 Phạm Hồng Thái, P.Vĩnh Thanh Vân, Tp.Rạch Giá, T.Kiên Giang</p>
				<!--<p>VPĐD miền Nam: 98-108A Cách Mạng Tháng 8, P.Võ Thị Sáu, Q.3, Tp.HCM</p>
				<p>VPĐD miền Bắc: Tầng 6 Sunshine Center, số 16 Phạm Hùng, P.Mỹ Đình, Q.Nam Từ Liêm, Tp.Hà Nội</p>-->
				<p>Điện thoại: (0297) 3869 950 hoặc (028) 3933 3393</p>
				<p>Hotline gọi trong lãnh thổ Việt Nam: 1900 6929</p>
				<p>Hotline gọi từ nước ngoài về Việt Nam: (+84) 287309 6929</p>
				<p>Mã SWIFT: KLBKVNVX</p>
				<p>Email: <a href="#">kienlong@kienlongbank.com </a>hoặc <a href="#">chamsockhachhang@kienlongbank.com</a></p>
			</div>
		</div>
		<div class="contact-footer col-md-4" style="padding-top : 10px">
			<p class="h6" style="text-align: center;"><strong><span style="font-size: 16px;">Liên kết nhanh</span></strong></p>
			<ul class="list-inline d-flex justify-content-center">
				<li class="list-inline-item" style="text-align: center;"><a href="tel:19006929"><em class="fas fa-mobile-alt"></em></a></li>
				<li class="list-inline-item" style="text-align: center;"><a href="https://www.facebook.com/NganhangKienLong" target="_blank" rel="nofollow"><em class="fab fa-facebook-f"></em></a></li>
				<li class="list-inline-item" style="text-align: center;"><a href="https://www.youtube.com/channel/UCgGTWNEzPqKaMSU8smHKr0g" target="_blank" rel="nofollow"><em class="fab fa-youtube"></em></a></li>
				<li class="list-inline-item" style="text-align: center;"><a href="https://zalo.me/nganhangkienlong" target="_blank" rel="nofollow"><img alt="" src="~/images/card_icon_zalo.png"></a></li>
			</ul>
			<br>
			<p class="h6" style="text-align: center;"><strong><span style="font-size: 16px;">KienlongBank Mobile Banking</span></strong></p>
			<ul class="list-inline">
				<p style="text-align: center;">
					<a href="https://apps.apple.com/vn/app/kienlongbank-plus/id1562823941?l=vi" target="_blank" rel="nofollow"><img alt="" src="~/images/app-store-icon-kienlongbank-mobile-banking.png" style="width: 120px; height: 35px;"></a>
					<a href="https://play.google.com/store/apps/details?id=com.sunshine.ksbank" target="_blank" rel="nofollow"><img alt="" src="~/images/google-play-icon-kienlongbank-mobile-banking.png" style="width: 120px; height: 36px;"></a><br>
					<a href="https://app.kienlongbank.com/download" target="_blank"><img alt="App KienlongBank Plus" src="~/images/qr-code-app-kienlongbank-plus-pro.png" style="width: 120px; height: 120px;"></a>
				</p>
			</ul>
		</div>
	</div>
</footer>
