<header class="header-nav">
    <div class="container d-flex align-items-center justify-content-between">
        <!-- Logo -->
        <div class="logo d-flex align-items-center">
            <a href="/">
                <img alt="" src="~/images/logo.png" style="width: 180px; height: 34px; margin-top: 0px;">
            </a>
        </div>
        <div class="content">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#tab_1">Về KienlongBank</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab_2">Đặc quyền Khách hàng giới thiệu</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab_3">Đặc quyền Khách hàng được giới thiệu</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab_4">Đăng ký</a></li>
            </ul>
        </div>
        <!-- Nút gọi điện -->
        <div class="btn phone">
            <a href="tel:+840123456789" class="d-flex align-items-center" style="text-decoration: none;">
                <div class="icon">
                    <img alt="" src="~/images/phone.png">
                </div>
                <div class="ms-2 hotline-text">
                    <span style="color: #9a9a9a;">Hotline</span>
                    <p style="margin: 0;"><strong><span style="font-size: 18px; color: #ef4d23;">1900 6929</span></strong></p>
                </div>
            </a>
        </div>
    </div>
</header>