<header class="container-fluid border-bottom">
    <div class="row header-row">
        <!-- Logo -->
        <div class="logo col-md-3">
            <a href="/">
                <img alt="" src="~/images/logo.png" style="width: 180px; height: 34px; margin-top: 0px;">
            </a>
        </div>
        <!-- Menu -->
        <div class="content col-md-6">
            <ul class="nav row">
                <li class="nav-item col-md-3"><a class="nav-link" href="#tab_1">Về KienlongBank</a></li>
                <li class="nav-item col-md-4"><a class="nav-link" href="#tab_2">Ưu đãi cho doanh nghiệp</a></li>
                <li class="nav-item col-md-3"><a class="nav-link" href="#tab_3">Đặc quyền</a></li>
                <li class="nav-item col-md-2"><a class="nav-link" href="#tab_4">Đăng ký</a></li>
            </ul>
        </div>
        <!-- Nút gọi điện -->
        <div class="phone col-md-3">
            <a href="tel:+840123456789" class="d-flex align-items-center" style="text-decoration: none;">
                <div class="icon">
                    <img alt="" src="~/images/phone.png">
                </div>
                <div class="ms-2 hotline-text">
                    <span style="color: #9a9a9a;">Hotline</span>
                    <p style="margin: 0;"><strong><span style="font-size: 18px; color: #ef4d23;">1900 6929</span></strong></p>
                </div>
            </a>
        </div>
    </div>
</header>